    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: column wrap;
    }


    .header {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
        font-size: x-large;
    }

    .filters {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(26%, 1fr));
        gap: 1.5rem 2rem; /* row-gap: 1.5rem, column-gap: 2rem */
        margin-top: 20px;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        
    }

    .empty {
        grid-column: 1 / -1;
        margin-top: 1rem;
        color: #6b7280;
        text-align: center;
    }

    app-product-card {
        width: 100%;
    }

    .pagination-bottom{
        display: flex;
        justify-content: center;
    }